table {
    border-collapse: collapse;
    border: 1px solid black;
}

caption {
    font-family: 'Roboto';
    font-size: 22px;
    float: left;
}
h1 {
    font-family: 'Roboto';
    font-size: 22px;
}

table,
th,
td {
    border: 2px solid black;
    padding: 15px;
}

tr {
    text-align: center;
}
ul li {
    text-align: left;
}

th {
    text-align: left;
    color: darkcyan;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(1) {
    background-color: lightskyblue;
}

tfoot {
    border: none;
    text-decoration: none;
}

tr:hover {
    background-color: #eee;
}

img {
    height: 100px;
}