h1{
    text-align: center;
    margin: auto;
}
form{
    line-height: 1.4em;
    margin: auto;
    
}
legend{
    border: 1px solid black;
    background-color: white;
    padding: 2px;
}
#fieldset1{
    background-color: rgb(209, 239, 243);
}
#fieldset2{
    background-color:rgb(136, 199, 219);
}
#fieldset3{
    background-color:rgb(39, 112, 134);
}
button{
    color: white;
    border: 1px solid black;
    background-color:darkgray;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    
}
button:hover{
    color: rgb(165, 36, 36);
    background-color:rgb(255, 0, 0);
    cursor: wait;
}
select{
    width: 177px;
    background-color:lightgray;
}
input[type="file"]::-webkit-file-upload-button{

    color: rgb(247, 247, 247);
    background-color:darkgray;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-top: 1px solid;
    border-left: 1px solid;
}
input[type="file"]::-webkit-file-upload-button:hover{
    color: rgb(165, 36, 36);
    background-color:rgb(255, 0, 0);
    cursor: wait;
}