.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.flex-container {
    background-color: DodgerBlue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: first baseline;
}